name{
	font-family { "Palatino Linotype", Palatino, serif; }
	font-size: 30px;
}
h1{
	font: "Times New Roman";
	font-size: 24px;
}
h2{
	font: Arial;
	font-size: 20px;
}
h3{
	font: Arial;
	font-size: 18px;
}
body{
	font-family: Arial, Calibri;
	font-size: 16px;
}

	
	
	
	